#body {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	background-color:rgb(255,255,255);
	padding-bottom:20px;
	width:1000px;
	height:auto;
	-ms-box-shadow: 7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
}

#poster_name {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:800;
	height:auto;
	background-color:#ffffff;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#e3e3e3;
	text-align: center;
	padding-top:30px;
}	
#name {
	position:relative;
	width: 100%;
	margin-left: 10px;
	margin-right: auto;
	width:auto;
	height:auto;
	text-align: left;
}	

#date {
	position:relative;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	width:auto;
	height:auto;
	text-align: right;
}	


#statement {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  margin-top: 10px;
	width:800;
	padding-bottom:30px;
	height:auto;
	text-align: justify;

.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}